reactive-apps/target
reactive-apps/.idea
reactive-apps/*.iml
reactive-apps/reactive-core/target
reactive-apps/reactive-core/.idea
reactive-apps/reactive-core/*.iml
reactive-apps/reactive-seed/target
reactive-apps/reactive-seed/.idea
reactive-apps/reactive-seed/*.iml
reactive-apps/reactive-web/target
reactive-apps/reactive-web/.idea
reactive-apps/reactive-web/*.iml

passgen-app/target
passgen-app/.idea
passgen-app/*.iml
passgen-app/passgen-web/target
passgen-app/passgen-web/.idea
passgen-app/passgen-web/*.iml
passgen-app/passgen-scala/target
passgen-app/passgen-scala/.idea
passgen-app/passgen-scala/*.iml

mytranslator-app/target
mytranslator-app/.idea
mytranslator-app/*.iml
mytranslator-app/mytranslator-web/target
mytranslator-app/mytranslator-web/.idea
mytranslator-app/mytranslator-web/*.iml
