reactive-apps/target
reactive-apps/.idea
reactive-apps/*.iml
reactive-apps/reactive-core/target
reactive-apps/reactive-core/.idea
reactive-apps/reactive-core/*.iml
reactive-apps/reactive-seed/target
reactive-apps/reactive-seed/.idea
reactive-apps/reactive-seed/*.iml
reactive-apps/reactive-web/target
reactive-apps/reactive-web/.idea
reactive-apps/reactive-web/*.iml

passgen-app/target
passgen-app/.idea
passgen-app/*.iml
passgen-app/passgen-web/target
passgen-app/passgen-web/.idea
passgen-app/passgen-web/*.iml
passgen-app/passgen-scala/target
passgen-app/passgen-scala/.idea
passgen-app/passgen-scala/*.iml

mytranslator-app/target
mytranslator-app/.idea
mytranslator-app/*.iml
mytranslator-app/mytranslator-web/target
mytranslator-app/mytranslator-web/.idea
mytranslator-app/mytranslator-web/*.iml

cqrs-app/target
cqrs-app/.idea
cqrs-app/*.iml
cqrs-app/cqrs-backend/target
cqrs-app/cqrs-backend/.idea
cqrs-app/cqrs-backend/*.iml
cqrs-app/cqrs-frontend-web/target
cqrs-app/cqrs-frontend-web/.idea
cqrs-app/cqrs-frontend-web/*.iml

t360/target
t360/.idea
t360/*.iml
t360/cubes/target
t360/cubes/.idea
t360/cubes/*.iml
t360/numberenc/target
t360/numberenc/.idea
t360/numberenc/*.iml

misc/quiz/.idea
misc/quiz/*.iml

full-stack-ninja/.idea
full-stack-ninja/*.iml
